<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - {{#block 'title'}}{{/block}}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
      header {
        margin-top: 3px auto !important;
        background-color: beige;
        border-bottom: dashed 1px grey;
        text-align: center;
      }
      footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
      }
    </style>
   
  </head>
  <body>

    {{!-- Navbar with Login --}}
    <nav class="navbar navbar-dark bg-dark" style="color: white">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">GreatToGo Foods eShop</a>

          {{#if user}}
          <span><a href="/products/" class="nav-item nav-link active">Products</a></span>
          <span><a href="/shopping-cart/" class="nav-item nav-link active">Shopping Cart</a></span>           

          <span><a href="/fulfilments/" class="nav-item nav-link active">Stocks</a></span>
          <span><a href="/orders/" class="nav-item nav-link active">Orders</a></span>
          <span><a href="/payments/" class="nav-item nav-link active">Payments</a></span>
          <span><a href="/customers/" class="nav-item nav-link active">Customers</a></span>

          <span><a href="/brands/" class="nav-item nav-link active">Brands</a></span>
          <span><a href="/tags/" class="nav-item nav-link active">Tags</a></span>
          {{/if}}

        <div>
          {{#if user}}
            <span><a href="/users/profile" class="nav-item nav-link active"></a>Hi, {{user.name}}</span>
            <a href="/users/logout" class="ml-3 btn btn-danger btn-sm">Logout</a>
          {{else}}
            Hi, stranger
            <a href="/users/login" class="btn btn-primary btn-sm">Login</a>
          {{/if}}
        </div>
      </div>
    </nav>

    <div class="container card">
      {{!-- Flash Messages Here --}}
      {{#if success_messages}}
        {{#each success_messages}}
          <div class="alert alert-success">
            {{this}}
          </div>
        {{/each}}
      {{/if}}

      {{#if error_messages}}
        {{#each error_messages}}
          <div class="alert alert-danger">
            {{this}}
          </div>
        {{/each}}
      {{/if}}
    </div>

    <div class="container card my-3">

      {{#block 'content'}}{{/block}}
      
    </div>

    <footer>
        <div class="btn btn-dark">
          <strong>Trent Global College (Singapore)</strong> | Developed by Haryati Hassan, Aug 2021 | For educational purpose only.
        </div>
    </footer>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {{#block 'js'}}{{/block}}
  </body>
</html>