{{#extends 'base'}}

{{#block 'title'}}
Welcome to GreatToGo!
{{/block}}

{{#block 'content'}}
<header>
    <h1>Welcome to GreatToGo Foods eShop - Administration Module</h1>
    <p>For users to manage the GreatToGo Foods online shopping site. Access is only given to authorized personnel.</p>
</header>

{{/block}}

{{/extends}}