{{#extends 'base'}}

{{#block 'title'}}
Welcome to GreatToGo!
{{/block}}

{{#block 'content'}}
<header>
    <h1>Welcome to GreatToGo Foods eShop - Administration Module</h1>
    <p>For users to manage the GreatToGo Foods online shopping site. Access is only given to authorized personnel.</p>
</header>

<section>
    <h3>My Account</h3>
    <a href="/users/profile" class="btn btn-primary">My User Profile</a>
    <a href="/users/change-password" class="btn btn-secondary">Change Password</a>
</section>
<hr>
<section class="mt-3">
    <h2>System Admin Only:</h2>
    <h3 class="mt-3">User Management</h3>
    <a href="/users/register" class="btn btn-primary">Create New User</a>
    <a href="/users/verify" class="btn btn-secondary">Verify New User</a>
    <h3 class="mt-3">Systems Management</h3>
    <a href="/tags" class="btn btn-primary">Product Categories</a>
</section>

{{/block}}

{{/extends}}