{{#extends 'base'}}

{{#block 'title'}}
Welcome to GreatToGo!
{{/block}}

{{#block 'content'}}
<header>
    <h1>Welcome to GreatToGo Foods - Administration Module</h1>
</header>

{{/block}}

{{/extends}}