{{#extends 'base'}}

{{#block 'title'}}
Categories
{{/block}}

{{#block 'content'}}

<header class="">
    <h1>Create a new Category</h1>
</header>

<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    {{{form}}}
    <input type="submit" value="Add" class="btn btn-primary my-3"/>
    <a href="/categories" class="btn btn-dark">Cancel</a>
</form>

{{/block}}

{{/extends}}