{{#extends 'base'}}

{{#block 'title'}}
Categories
{{/block}}

{{#block 'content'}}

<header class="">
    <h1>Delete Category: {{category.name}}</h1>
</header>

<form method="POST">
    <div class="alert alert-danger">
        <p>Are you sure you want to delete {{category.name}}?</p> 
        <input type="submit" value="Yes" class="btn btn-danger"/>
        <a href="/categories" class="btn btn-success">No</a>
    </div>
</form>

{{/block}}

{{/extends}}