{{#extends 'base'}}

{{#block 'title'}}
Tags
{{/block}}

{{#block 'content'}}

<header class="">
    <h1>Update Tag: {{tag.name}}</h1>
</header>

<form method="POST">
    {{{form}}}
    <input type="submit" value="Save Changes" class="btn btn-primary"/>
    <a href="/tags" class="btn btn-dark">Cancel</a>
</form>

{{/block}}

{{/extends}}