{{#extends 'base'}}

{{#block 'title'}}
Brands
{{/block}}

{{#block 'content'}}

<header class="">
    <h1>Create a new brand</h1>
</header>

<form method="POST">
    {{{form}}}
    <input type="submit" value="Add" class="btn btn-primary"/>
    <a href="/brands" class="btn btn-dark">Cancel</a>
</form>

{{/block}}

{{/extends}}